<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>

<% @books.each do |book| %>

  <tbody>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><a href="books/show">Show</a></td>
      <td><a href="books/edit">Edit</a></td>
      <td><a href="books/destroy">Destroy</a></td>
    </tr>
  </tbody>

<% end %>
</table>

<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Create Book' %>
<% end %>